<div class="row">
    <div class="xl-12">
        <ul class="tabs">
            <li class="tab col-sm-6">
                <a class+"active" href="#login">Войти</a>
            </li>
            <li class="tab col-sm-6">
                <a href="#register">Регистрация</a>
            </li>
        </ul>
    </div>
    <div id="login" class="col-sm-6 offset-3"></div>
    <div id="register" class="col-sm-6 offset-3"></div>
</div>