:root {
    --violet-light: #5550F2;
    --violet-dark: #282580;
    --bg-gray: #1A1A1A;
    --bg-black: #161616;
    --text-gray: #d0d0d0;
    --text-white: #FFFFFF;
}

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-gray);
}

body {
    background-color: var(--bg-black);
}

p {
    font-size: 20px;
}

.container-fluid {
    margin: 0;
    padding: 0;
}


/* navigation */

.navbar {
    background: var(--bg-black);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.navbar-brand {
    font-weight: 800;
    font-size: 35px;
}

.navbar-nav {
    text-align: right;
    margin: 0 100px 0 0;
}

.navbar-toggler {
    margin: 0 20px;
}


/* video  */

#hero {
    max-width: 100%;
}

.video {
    width: 100%;
    background: var(--bg-black);
    margin-top: -25px;
}


/* .video-text {
    position: absolute;
    bottom: 37%;
    text-align: center;
    width: 100%;
    z-index: 100;
} */

.video-text-1-word {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: var(--violet-light);
    margin: 0;
}

.video-text-1 {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: var(--text-white);
    margin: 0;
}

.video-text-2 {
    text-align: center;
    font-size: 35px;
    color: var(--text-gray);
    margin: 0;
}


/* services */

.services {
    background-color: var(--bg-black);
    margin: 0px auto 70px;
}

.header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--violet-light);
    /* margin: 70px 0px; */
    line-height: 100px;
}

.header-section {
    font-size: 128px;
    font-weight: 800;
    text-align: left;
    padding: 55px 0 50px;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 70px;
    justify-content: center;
}

.card-project {
    background: var(--bg-gray);
    color: var(--text-white);
    border-radius: 20px;
    max-width: 450px;
}

.icon-bg {
    width: 140px;
    height: 140px;
    background: var(--bg-black);
    border-radius: 100px;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 27px;
    font-weight: 800;
    margin: auto 0 20px auto;
    text-align: center;
}

.card-text {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: var(--text-gray);
    margin-bottom: 70px;
}


/* projects */

.projects {
    background-color: var(--bg-gray);
    padding: 0px 0px 50px 0px;
}

.card-body-projects img {
    margin: 0;
    opacity: .8;
}

.projects .card {
    border: 0;
}

.project-title {
    position: absolute;
    z-index: 2;
    top: 10px;
    font-weight: 800;
    margin: 10px;
    font-size: 24px;
}


/* about  */

.about-content {
    display: flex;
}

.about-header {
    font-weight: 800;
    text-transform: uppercase;
    color: var(--text-white);
    font-size: 24px;
    /* margin-bottom: 15px; */
    margin-bottom: 40px;
    font-size: 28px;
}

.about-description {
    color: var(--text-white);
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 24px;
}

.about-image {
    max-width: 450px;
    min-width: 200px;
    padding: 0px 0px 50px 0px;
}

.about .container {
    padding-bottom: 50px;
}

.about .header {
    margin-top: 0px;
}


/* contacts */

.contacts {
    background-color: var(--bg-gray);
}

.contacts-content {
    display: flex;
}

#form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#form input {
    border: none;
    height: 50px;
    margin: 0 0 20px 0;
    background-color: var(--bg-black);
    color: var(--text-white);
}

#form textarea {
    border: none;
    height: 70px;
    margin: 0 0 30px 0;
    background-color: var(--bg-black);
    color: var(--text-white);
}

#form button {
    height: 50px;
    border: none;
    background-color: var(--violet-light);
    color: var(--text-white);
    margin-bottom: 30px;
}

.contacts-header {
    font-weight: 800;
    font-size: 28;
    color: var(--text-white);
    margin-bottom: 40px;
}

.contacts-description {
    margin-bottom: 50px;
    color: var(--text-white);
    max-width: 740px;
    font-size: 24px;
}

.contacts-contacts {
    color: var(--text-white);
    margin-bottom: 50px;
    padding-bottom: 50px;
    font-weight: 500;
    font-size: 24px;
}


/* modal */

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    position: fixed;
    text-align: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal {
    position: fixed;
    font-size: 48px;
    background: #5550f2;
    color: var(--text-white);
    font-weight: 800;
    padding: 15px 50px 0px;
    margin: 0 0 30px 0;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 35%;
    max-width: 100%;
    text-transform: uppercase;
    display: flex;
}

.form__clean {
    flex: 1;
    padding: 12px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    background: #00bfa5;
    color: #fff;
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: 1s;
    cursor: pointer;
}

.show {
    opacity: 100%;
    display: flex;
    transition: 0.2s;
}


/* footer  */

footer {
    margin: 70px 0px 50px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-items: center;
}

.footer-name {
    color: var(--text-gray)
}

.decoration-line {
    color: var(--violet-light);
    background-color: var(--violet-light);
    height: 32px;
    margin: 0 0 50px 0;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer-icons a {
    color: var(--text-gray);
    margin: auto;
}


/* add page  */

.input-field {
    margin: 10px 50px;
}


/* project page  */

.project-video {
    margin-top: 50px;
}

.project-description p {
    font-size: 24px;
    text-align: justify;
}

.project-description-text {
    font-size: 24px;
    max-width: 90%;
    color: var(--text-gray);
    margin-bottom: 70px;
}


/* projects-page  */

.card a {
    color: var(--text-white);
}


/* psevdoclass */

a:hover {
    color: var(--violet-light);
    transition: 0.5s;
}

.footer a:hover {
    color: var(--violet-light);
}


/* .card:hover {
    background-color: var(--bg-gray);
    color: var(--text-gray);
} */

.card-body-projects img:hover {
    opacity: 1;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.card-text:last-child {
    margin-bottom: 70px;
}


/* media  */

@media only screen and (max-width: 1200px) {
    .card-group {
        grid-template-columns: repeat(auto-fit, 20rem);
    }
    .navbar-nav {
        margin: 0;
    }
    .image-container {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .modal {
        font-size: 24px;
    }
    .header-section {
        font-size: 30px;
        text-align: center;
    }
    .video-text {
        display: none;
    }
    .about-content {
        flex-direction: column;
    }
    .about-image {
        max-width: 250px;
    }
    .contacts-content {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .contacts-description {
        max-width: auto;
    }
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer-icons {
        margin: 20px auto;
    }
}


/* @media (min-width: 576px) {
    .card-group>.card:not(:first-child) {
        border-top-left-radius: 20;
        border-bottom-left-radius: 20;
    }
} */